<p id="notice"><%= notice %></p>

<div style="display: flex; justify-content: space-between">
  <div>
    <h3>Engagements</h1>
  </div>
  <div>
    <%= link_to 'New Engagement', new_engagement_path, class: "uk-button uk-button-primary" %>
  </div>
</div>

<p class="uk-text-meta">
  All the incident response investigations we've worked on for clients
</p>

<table class="uk-table uk-table-divider uk-table-hover">
  <thead>
    <tr>
      <th>Code</th>
      <th>Client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @engagements.each do |engagement| %>
      <tr>
        <td><%= engagement.code %></td>
        <td><%= engagement.client %></td>
        <td><%= link_to 'Edit', edit_engagement_path(engagement) %></td>
        <td><%= link_to 'Delete', engagement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>