<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @engagement.code %>
</p>

<p>
  <strong>Client:</strong>
  <%= @engagement.client %>
</p>

<%= link_to 'Edit', edit_engagement_path(@engagement) %> |
<%= link_to 'Back', engagements_path %>
