<%= form_with(model: system, local: true) do |form| %>
  <% if system.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(system.errors.count, "error") %> prohibited this system from being saved:</h2>

      <ul>
      <% system.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :hostname %>
    <%= form.text_field :hostname %>
  </div>

  <div class="field">
    <%= form.label :lead %>
    <%= form.text_area :lead, class: "uk-textarea uk-form-width-large", size: "75x7" %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes, size:"75x7" %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_area :summary, size: "75x7" %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, System.statuses.keys.to_a %>
  </div>

  <div class="field">
    <%= form.label :engagement_id %>
    <%= form.collection_select(:engagement_id, Engagement.all, :id, :code, {:prompt => 'Select the engagement', :selected => @system.engagement_id}) =%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
