<p id="notice"><%= notice %></p>

<h3>Systems</h1>

<p class="uk-text-meta">
  All the computers that we've forensically analyzed
</p>

<table class="uk-table uk-table-divider uk-table-hover">
  <thead>
    <tr>
      <th>Hostname</th>
      <th>Created</th>
      <th>Lead</th>
      <th>Summary</th>
      <th>Status</th>
      <th>Engagement</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @systems.each do |system| %>
      <tr>
        <td><%= system.hostname %></td>
        <td><%= system.created_at %></td>
        <td><%= system.lead %></td>
        <td><%= system.summary %></td>
        <td><%= system.status %></td>
        <td><%= system.engagement %></td>
        <td><%= link_to 'Edit', edit_system_path(system) %></td>
        <td><%= link_to 'Delete', system, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New System', new_system_path %>
