<!DOCTYPE html>
<html>
  <head>
    <title>Live Response Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
            <li><%=link_to "Engagements", engagements_path%></li>
            <li><%=link_to "Systems", systems_path%></li>
          </ul>
      </div>
    </nav>
    <div style="margin: 33px">
      <%= yield %>
    </div>
  </body>
</html>
